{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-primary text-white">
<h3>Book Appointment</h3>
</div>

<div class="card-body">

<form method="POST">

{% csrf_token %}

<label>Patient</label>

<select name="patient" class="form-select mb-3">

{% for p in patients %}

<option value="{{ p.id }}">

{{ p.name }}

</option>

{% endfor %}

</select>

<label>Doctor</label>

<select name="doctor" class="form-select mb-3">

{% for d in doctors %}

<option value="{{ d.id }}">

{{ d.name }}

</option>

{% endfor %}

</select>

<label>Date</label>

<input type="date"
name="appointment_date"
class="form-control mb-3">

<label>Time</label>

<input type="time"
name="appointment_time"
class="form-control mb-3">

<label>Status</label>

<select name="status"
class="form-select mb-3">

<option>Pending</option>
<option>Completed</option>
<option>Cancelled</option>

</select>

<button class="btn btn-success">

Book Appointment

</button>

</form>

</div>

</div>

</div>

{% endblock %}