{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container">

    <a class="navbar-brand fw-bold fs-3" href="#">
      🏥 Hospital
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left Menu -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'doctor' %}">Doctors</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'services' %}">Services</a>
        </li>


      </ul>

      <!-- Appointment Button -->
      <a href="#" class="btn btn-warning fw-bold rounded-pill px-4">
        <i class="fa-solid fa-calendar-check me-2"></i>
        Appointment
      </a>
      <br><br>
      <!-- registration/login button -->
      <a href="{% url 'Registration' %}" class="btn btn-warning fw-bold rounded-pill px-4">
      Register/LogIn
      </a>
    </div>

  </div>
</nav>

{% endblock%}